

body, html {
  height: auto;
  overflow: auto;
}


#tableview {
  margin-left: 20px;
  margin-top: 20px;
  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
  height:550px;
  width:100%;
}

.dataTables_filter {
  display: none;
}
#hideButtons {
  position: sticky;
  float: left;
}
#exteriorbox{

  position: absolute;
  width: 80%;
  height: 80%;

}
#container {
  position: relative;
  bottom: 0px;
  background-color: white;

}
