{% extends 'master/base.html' %}
{% block headAndStyle %}
{% load staticfiles %}

<head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'master/tablestyle.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% endblock %}
{% block header %}
	<h2 id="headerTitle">EdMapp: Lesson Duplication</h2>
{% endblock %}
{% block content %}

	<div id="sidebar" class="w3-sidebar selectionpane-color w3-bar-block">
		<div id="lessonSelect">Lesson Selections </div>
		<div id="versionSelect">Versions: </div>
		<div id="selectedVersions">No Version</div>
		<div id="gradeSelect">Grades: </div>
		<div id="selectedGrades">No Grades</div>
		<div id="unitSelect">Units: </div>
		<div id="selectedUnits">No Units</div>
		<div id="sublessonSelect">Lessons: </div>
		<div id="selectedLessons">No Lessons</div>
		<div id="lessonsToDuplicate">Lessons to Duplicate</div>
		<div id="selectedFullLessons">No Lessons Selected</div>
	</div>
	<div class="selector-contain">
		<div class="header-column">
			<h2 class="selectortext">Lesson Duplicator</h2>
			<p class="selectortext">Select which lessons you would like to duplicate</p>
			<hr class="style3 hr-no-bottom-margin">
		</div>
	</div>

	<div class="footer">
		<div class="footer-box footer-box-1">
			<p>Rename version from:</p>
		</div>
		<div class="footer-box footer-box-2">
			<div id="selectedVersionsB">No Version Selected</div>
		</div>
		<div class="footer-box footer-box-3">
			<p>to</p>
		</div>
		<div class="footer-box footer-box-4">
			<input form="duplicate_submit" id="newVersion" class="form-control" type="text" name="newVersion" placeholder="New Version" required="required"/>
		</div>
		{% if request.user.is_superuser %}
		<input form="duplicate_submit" class="duplicate-button" type="submit" value="Duplicate">
		{% else %}
		{% endif %}
	</div>

<hr class="style3 hr-sidebar hr-skinny">

<form id="duplicate_submit" method="POST"> {% csrf_token %}

	<div class="lesson-selector">
		<div class="lesson-column version-column">
			<h2 class="selectortext">Version</h2>
				<div class="lesson-search-bar">
					<input id="search-version" class="form-control" placeholder="Search"/>
				</div>

			{% for version in versionList %}
				<label class="container version-container">{{ version }}
					<input type="radio" name = "Version" value="{{ version }}">
					<span class="checkmark radio-checkmark"></span>
				</label>
			{% endfor %}

		</div>
		<div class="lesson-column grade-column">
			<h2 class="selectortext">Grade</h2>
			<div class="lesson-search-bar">
				<input name="filter" id="search-grade" class="form-control" value="" placeholder="Search"/>
			</div>
			{% for grade in gradeList %}
				<label class="container grade-container" data-filter="{{ grade }}">{{ grade }}
					<input class="chkbox"  type="checkbox" name = "Grade" value="{{ grade }}">
					<span class="checkmark"></span>
				</label>
			{% endfor %}

		</div>
		<div class="lesson-column unit-column">
			<h2 class="selectortext">Unit</h2>
			<div class="lesson-search-bar">
				<input name="filter" id="search-unit" class="form-control" value="" placeholder="Search"/>
			</div>
			{% for unit in unitList %}
				<label class="container unit-container" data-filter="{{ unit }}">{{ unit }}
					<input class="chkbox" type="checkbox" name = "Unit" value="{{ unit }}">
					<span class="checkmark"></span>
				</label>
			{% endfor %}

		</div>
		<div class="lesson-column sublesson-column">
			<h2 class="selectortext">Lesson</h2>
			<div class="lesson-search-bar">
				<input id="search-sublesson" class="form-control" value="" placeholder="Search"/>
			</div>
			{% for lesson in lessonList %}
				<label class="container lesson-container" data-filter="{{ lesson }}">{{ lesson }}
					<input class="chkbox" type="checkbox" name = "Lesson" value="{{ lesson }}">
					<span class="checkmark"></span>
				</label>
			{% endfor %}
		</div>
	</div>

{% endblock %}
